name: CLI Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-test:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: bitnami/mysql:8.0
        ports:
          - 3306:3306
        env:
          ALLOW_EMPTY_PASSWORD: yes
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install bats
        run: |
          git clone https://github.com/sstephenson/bats.git && cd bats
          sudo ./install.sh /usr/local

      - name: Run Test
        working-directory: ./api
        run: chmod +x ./test/shell/cli_test.sh && sudo ./test/shell/cli_test.sh

      - name: Run tmate debugger
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3